*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
# Keystore файлы
*.jks
*.keystore
release.keystore
debug.keystore
*.properties
.gradle/
build/